:root {
  --bg: #f6f8ff;
  --text: #141d2f;
  --primary: #0079ff;
  --secondary: #fff;

  --accent: #60abff;
  --danger: #f74646;
  --card-bg: #fefefe;
  --muted: #fff;
  --border: #d7dcef;
  --title: #ffffff;
  --searchbg: #1e2a47;
  --shadow: none;
}
[data-theme="dark"] {
  --bg: #141d2f;
  --text: #fefefe;
  --primary: #60abff;
  --secondary: #4b6a9b;

  --accent: #0079ff;
  --danger: #f74646;
  --card-bg: #1e2a47;
  --border: #2b3442;
  --title: #222731;
  --muted: #697c9a;
  --searchbg: #fefefe;
  --shadow: 0 4px 6px rgba(70, 96, 187, 0.2);
}

@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v17-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
  height: 100vh;
  margin: 0;
  display: block;
  background-color: var(--text);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 730px;
}
.header-section {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
}
.darkmode {
  display: flex;
  align-items: center;
  gap: 16px;
}
.title {
  font-weight: 700;
  font-size: 26px;
  color: var(--title);
}
.darkmode__span {
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 700;
  color: var(--muted);
}
#searchWrapper {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 32px;
  border-radius: 15px;
  background-color: var(--searchbg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);
}
#searchInput {
  outline: none;
  border: none;
  background-color: transparent;
  text-overflow: ellipsis;
  padding: 12px 16px;
  width: 100%;
}
#searchInput::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary);
  font-family: "Space Mono", sans-serif;
}
.search {
  border: none;
  background-color: var(--accent);
  padding: 13px 24px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
#avatar {
  border-radius: 50%;
}

/* Main */
.main {
  display: flex;
  flex-direction: row;
}
main {
  margin-top: 24px;
  background-color: var(--searchbg);
}
