:root {
  --bg: #141d2f;
  --text: #141d2f;
  --primary: #0079ff;
  --secondary: #fff;
  --name: #fff;
  --accent: #0079ff;
  --danger: #f74646;
  --card-bg: #fefefe;
  --muted: #fff;
  --border: #d7dcef;
  --title: #ffffff;
  --searchbg: #1e2a47;
  --shadow: none;
  --subtitle: rgba(255, 255, 255, 0.75);
}
[data-theme="dark"] {
  --bg: #f6f8ff;
  --text: #fefefe;
  --primary: #60abff;
  --name: #2b3442;
  --secondary: #4b6a9b;
  --accent: #0079ff;
  --danger: #f74646;
  --card-bg: #1e2a47;
  --border: #2b3442;
  --title: #222731;
  --muted: #697c9a;
  --searchbg: #fefefe;
  --shadow: 0 4px 6px rgba(70, 96, 187, 0.2);
  --subtitle: #4b6a9b;
}

@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v17-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
  /* height: 100vh; */
  margin: 0;
  display: block;
  background-color: var(--bg);
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}
.header-section {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
}
.darkmode {
  display: flex;
  align-items: center;
  gap: 16px;
}
.darkmode span:hover {
  color: #90a4d4;
}
.darkmode img:hover {
  color: #90a4d4;
}
.title {
  font-weight: 700;
  font-size: 26px;
  color: var(--title);
}
.darkmode__span {
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 700;
  color: var(--muted);
}
#searchWrapper {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 32px;
  border-radius: 15px;
  background-color: var(--searchbg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);
  margin-bottom: 24px;
}
#searchInput {
  outline: none;
  border: none;
  background-color: transparent;
  text-overflow: ellipsis;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary);
  font-family: "Space Mono", sans-serif;
  width: 100%;
}
#searchInput:focus {
  background-color: transparent;
  outline: none;
}
#searchInput::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary);
  font-family: "Space Mono", sans-serif;
}
.search {
  border: none;
  background-color: var(--accent);
  padding: 13px 24px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
#avatar {
  border-radius: 50%;
}

/* Main */
.main {
  display: flex;
  flex-direction: row;
  gap: 37px;
}
main {
  border-radius: 15px;
  background-color: var(--searchbg);
  box-shadow: var(--shadow);
  padding: 48px;
}
.name {
  font-weight: 700;
  font-size: 26px;
  color: var(--name);
  margin-bottom: 4px;
  flex-grow: 1;
}
.subtitle {
  color: var(--accent);
  margin-bottom: 24px;
}
.bio {
  color: var(--subtitle);
  width: 100%;
}
.date-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 480px;
}
.date {
  margin-left: auto;
  color: var(--subtitle);
}
ul {
  list-style: none;
}
#reposit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
  padding-left: 32px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: var(--bg);
  border-radius: 10px;
  color: var(--subtitle);
  margin-bottom: 37px;
}
#repos,
#followers,
#following {
  color: var(--name);
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}
.loca {
  display: flex;
  gap: 16px;
}
.imgicon {
  width: 19px;
  height: 19px;
}
.locat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#location {
  color: var(--subtitle);
}
.icon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
a {
  color: var(--subtitle);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* MEDIA========================= */
@media screen and (max-width: 378px) {
  .locat {
    flex-direction: column;
    gap: 20px;
  }
}
